/* General Styling */
.drug-body {
  font-family: "Arial", sans-serif;
  padding: 20px;
  min-height: 100vh;
  text-align: left;
  background: linear-gradient(90deg, #c7bcf4, #f9c5b4);
}

/* Updated Search Bar Styling */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.search-container input {
  width: 900px; /* Adjust width as needed */
  padding: 20px 30px;
  max-height: 100px;
  font-size: 48px;
  font-weight: bold;
  border: 10px solid #43bcce; /* Magenta border */
  border-radius: 50px;
  outline: none;
  color: white; 
  background: transparent; /* Transparent background */
}

.search-container input::placeholder {
  color: white; /* White placeholder */
  opacity: 0.8; /* Slight transparency */
}

.search-button {
  font-size: 48px;
  margin-left: -80px; /* Overlap with input */
  cursor: pointer;
  color: white; /* White icon */
  background: none;
  border: none;
  transition: transform 0.3s ease;
}

.search-button:hover {
  transform: scale(1.1);
}


/* Drug Info Container */
.drug-info {
  background-color: #000000;
  max-width: 900px;
  margin: auto;
  text-align: left;
  padding: 20px;
  font-weight: bold;
  border-radius: 50px;
}

/* Drug Details */
.drug-details h3 {
  color: #ff00bf;
  font-size: 30px;
  margin-bottom: 5px;
  font-weight: bold;
  background-color: #000000;
}

.drug-details p {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Warning Section */
.warning-text {
  color: red !important;
}

.warning {
  color: rgb(255, 255, 255) !important;
  font-weight: bold;
}

/* Graph Section */
.graph-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 30px;
}

.graph-container h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

/* Save Button */
.save-button {
  display: block;
  margin-top: 30px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background: linear-gradient(180deg, #ffffff, #37cced);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.save-button:hover {
  background: white;
  color: black;
  transform: scale(1.05);
}